{% extends 'base.twig' %}

{% block content %}
    <div id="front-page">
        <section class="hero">
            <div class="container">
                <div class="jumbotron-header">
                    <h1 class="frost-panel">We are CNH Circle K</h1>
                </div>

                <div class="jumbotron frost-panel">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius esse facilis, illo laborum
                        magnam
                        molestias soluta tempore veritatis voluptates. Deserunt facere minus molestiae nemo non
                        praesentium
                        quis
                        reiciendis totam.
                    </p>

                    <a href="#" class="btn btn-primary">Our History</a>
                    <a href="#" class="btn btn-primary">Our Service</a>
                </div>
            </div>
        </section>

        <section id="tenets">
            <div class="container">
                <div class="row">
                    {% for i in 0..2 %}
                        <div class="col-sm-4 tenet">
                            <div class="tenet__bg">
                                <img src="http://lorempixel.com/400/400">
                            </div>
                            <div class="tenet__body">
                                <h3>Service</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ducimus earum eius
                                    eligendi</p>

                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="we-support" class="text-center">
            <div class="container">
                <div class="we-support__wrapper">
                    <div class="we-support__header">
                        We support
                    </div>
                    <div class="supportee">
                        <a href="#">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/kiwanisfamilyhouse.png"
                                 alt="Kiwanis Family House">
                        </a>
                    </div>
                    <div class="supportee">
                        <a href="#">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/ptp.jpg"
                                 alt="Pediatric Trauma Program">
                        </a>
                    </div>
                    <div class="supportee">
                        <a href="#">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/unicef.png"
                                 alt="UNICEF">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="news" class="row">
            <div class="container">
                <div class="col-md-8">
                    <h2>News</h2>

                    {% for post in posts %}
                        <article class="teaser panel panel-default">
                            <div class="panel-body">
                                <h3>{{ post.title }}</h3>

                                <p class="date">{{ post.post_date|date }}</p>

                                <p>
                                    {{ post.get_preview(50, true, '') }}
                                </p>
                            </div>
                            <div class="panel-footer clearfix">
                                <div class="teaser__author">Posted by <a
                                            href="{{ post.author.link }}">{{ post.author.name }}</a></div>

                                <a href="{{ post.link }}" class="btn btn-primary btn-sm pull-right">Read More</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>

                <div class="col-md-4">
                    <h2>Upcoming Events</h2>
                    <div class="list-group">
                        <a href="https://www.facebook.com/events/306173326410371/" class="list-group-item">
                            <p><strong>Crazy Kompetition for Infants North</strong></p>

                            <p>October 15, 2016 | 8AM - 4PM</p>

                            <p>Sacramento, California</p>
                        </a>
                        <a href="https://www.facebook.com/events/1590650077903186/" class="list-group-item">
                            <p><strong>Crazy Kompetition for Infants South</strong></p>

                            <p>October 22, 2016 | 8AM - 4PM</p>

                            <p>Stanton, California</p>
                        </a>
                        <a href="http://ftc.cnhcirclek.org" class="list-group-item">
                            <p><strong>Fall Training Conference</strong></p>

                            <p>November 4-6, 2016</p>

                            <p>Sonora, California</p>
                        </a>
                        <a href="{{ fn('get_permalink', 79) }}" class="list-group-item list-group-item-primary">Go to Calendar</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}