{% extends 'base.twig' %}

{% block content %}
    <div id="front-page">
        <section class="hero">
            <div class="container">
                <div class="jumbotron-header">
                    <h1 class="frost-panel">Welcome to CNH</h1>
                </div>

                <div class="jumbotron frost-panel">
                    <p class="lead">
                        Our organization of more than 2,100 college students across California, Nevada, and Hawaii
                        believes in enriching the world through community service - one member, one child and one
                        community at a time.
                    </p>

                    <a href="{{ fn('get_permalink', 59) }}" class="white h4">Learn more</a>

                    <div class="stripes-corner"></div>
                </div>
            </div>
        </section>

        <section id="tenets">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 tenet">
                        <div class="tenet__bg">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/service.jpg">
                        </div>
                        <div class="tenet__body">
                            <h3>Service</h3>
                            <p>Collectively, Circle K members perform more than one million hours of service on their
                                campuses and in their communities annually.</p>

                            <a href="{{ fn('get_permalink', 68) }}" class="white">Learn more about how we serve</a>
                        </div>
                    </div>
                    <div class="col-sm-4 tenet">
                        <div class="tenet__bg">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/leadership1.jpg">
                        </div>
                        <div class="tenet__body">
                            <h3>Leadership</h3>
                            <p>Circle K members assume leadership responsibilities at all levels of the organization and
                                actively contributing to the operation of their respective clubs, divisions, and
                                communities. </p>

                            <a href="{{ fn('get_permalink', 3509) }}" class="white">Our leaders</a>
                        </div>
                    </div>
                    <div class="col-sm-4 tenet">
                        <div class="tenet__bg">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/fellowship1.jpg">
                        </div>
                        <div class="tenet__body">
                            <h3>Fellowship</h3>
                            <p>With each element and aspect of Circle K International, members experience genuine
                                fellowship and develop life-long relationships with fellow collegians, advisors,
                                Kiwanians and citizens in their communities.</p>

                            <a href="{{ fn('get_permalink', 135) }}" class="white">Our clubs</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="we-support" class="text-center">
            <div class="container">
                <div class="we-support__wrapper">
                    <div class="we-support__header">
                        We support
                    </div>
                    <div class="supportee">
                        <a href="http://kiwanisfamilyhouse.org/" target="_blank">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/kiwanisfamilyhouse.png"
                                 alt="Kiwanis Family House">
                        </a>
                    </div>
                    <div class="supportee">
                        <a href="https://www.cnhfoundation.org/what-we-do/pediatric-trauma-program/" target="_blank">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/ptp.jpg"
                                 alt="Pediatric Trauma Program">
                        </a>
                    </div>
                    <div class="supportee">
                        <a href="https://www.feedingamerica.org/" target="_blank">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/partners/feeding_america.png"
                                 alt="Feeding America">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="news" class="row">
            <div class="container">
                <div class="col-md-8">
                    <h2>News</h2>

                    {% for post in posts %}
                        <article class="teaser panel panel-default">
                            <div class="panel-body">
                                <h3>{{ post.title }}</h3>

                                <p class="date">{{ post.post_date|date }}</p>

                                <p>
                                    {{ post.get_preview(50, true, '') }}
                                </p>
                            </div>
                            <div class="panel-footer clearfix">
                                <div class="teaser__author">Posted by <a
                                            href="{{ post.author.link }}">{{ post.author.name }}</a></div>

                                <a href="{{ post.link }}" class="btn btn-primary btn-sm pull-right">Read More</a>
                            </div>
                        </article>
                    {% endfor %}
                    <a href="{{ fn('get_permalink', 4759) }}" class="btn btn-primary btn-md">More Posts</a> <br><br>
		</div>

                <div class="col-md-4">
                    {{ home_right }}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
