<header id="header" class="banner">
    <div class="container container_no-padding">
        <nav class="navbar navbar-default navbar-opaque">
            <div class="masthead">
                <div class="masthead__logos">
                    <div class="masthead__left">
                        <a href="{{ site.url }}">
                            <img src="{{ function('bloginfo','template_directory') }}/dist/images/cki_wordmark.png"
                                 alt="CKI">
                        </a>
                    </div>

                    <div class="masthead__right">
                        <img src="{{ function('bloginfo','template_directory') }}/dist/images/cnh_district_emblem.png"
                             alt="California-Nevada-Hawaii District of Circle K International">
                    </div>
                </div>
		
		<img class="masthead_stripes" style="width: 100%; margin-top: -5px;" 
		    src="{{ function('bloginfo','template_directory') }}/dist/images/navy_stripes.png"
		    alt="masthead stripes">
            </div>

            {% if menu %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#primary-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

		<!-- moved this css to assets/styles/_header.scss but not sure if it's working there -->
                <style>
		    .child_dropdown-menu{
		        display: none;
		        list-style-type: none;
		        color: #0C1871;
			padding-top: 3px;
			padding-bottom: 3px;
		    }
		    .child_dropdown:hover .child_dropdown-menu{
		        display: block;
                    }

		    /* on mouse pointer screens open dropdown on hover */
		    @media(pointer: fine) {
			.dropdown:hover .dropdown-menu1{
			    display: block;
			}
		    }
		    
		    /* on touch screens automatically open nested dropdowns */
		    @media(pointer: coarse) {
			.child_dropdown-menu{
			    display: block;
			}
		    }
                </style>

                <div class="collapse navbar-collapse" id="primary-nav">
                    <ul class="nav navbar-nav">
                        {% for item in menu.get_items %}
                            {% if item.get_children %}
                                <li class="{{ item.classes | join(' ') }} dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        {{ item.title }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu1">
                                        {% for child in item.get_children %}
                                            {% if child.get_children %}
                                                <li class="{{ child.classes | join(' ') }} child_dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="child_dropdown" role="button"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        {{ child.title }} <span class="caret"></span>
                                                    <ul class="child_dropdown-menu">
                                                        {% for child_child in child.get_children %}
                                                            <li><a class="child_child" href="{{ child_child.get_link }}">{{ child_child.title }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                            <li><a href="{{ child.get_link }}">{{ child.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{{ item.classes | join(' ') }}">
                                    <a href="{{ item.get_link }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}
        </nav>
    </div>
</header>
