{% extends "base.twig" %}

{% block content %}
    <article class="post post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

        <div class="post__header">
            <div class="header-wrapper{% if not post.thumbnail %} no-featured-image{% endif %}">
                <div class="container">
                    <div class="header-content">
                        <div class="row row_valign">
                            <div class="col-sm-6">
                                {% block post_header_left %}
                                    <h1>{{ post.title }}</h1>
                                    <p>{{ post.post_date|date }}</p>
                                {% endblock %}
                            </div>

                            <div class="col-sm-6 text-right">
                                {% block post_header_right %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if post.thumbnail %}
                <div class="header-image">
                    <img src="{{ post.thumbnail.src }}">
                </div>
            {% endif %}
        </div>

        <div class="container container_white">
            <div class="post__content">
                <div class="row">
                    <div class="col-xs-12">
                        {{ post.content }}
                    </div>
                </div>

                {% block after_content %}{% endblock %}
            </div>
        </div>
    </article>
{% endblock %}
