{% extends "base.twig" %}

{% block content %}
    <article class="post post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

        <div class="post__header">
            <div class="header-wrapper">
                <div class="container">
                    <div class="header-content">
                        <div class="row row_valign">
                            <div class="col-sm-6">
                                <h1>{{ post.title }}</h1>
                                <p>{{ post.post_date|date }}</p>
                            </div>

                            <div class="col-sm-6 text-right">
                                <img src="http://lorempixel.com/60/60" alt="{{ post.author.name }}" class="img-circle">
                                <div class="author">
                                    <div class="author__name">{{ post.author.name }}</div>
                                    <div class="author__other">Position</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-image">
                <img src="{{ function('bloginfo','template_directory') }}/dist/images/stc_south.jpg" alt=""
                     class="responsive">
            </div>
        </div>

        <div class="container container_white">
            <div class="post__content">
                <div class="row">
                    <div class="col-xs-12">
                        {{ post.content }}
                    </div>
                </div>

                {% if post.comment_status != 'closed' %}
                    <div class="row">
                        <div class="col-xs-12">
                            {# Disqus goes here #}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}
